@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

.signinz {
    display: flex;
    height: 100vh;
}
.signinz .firstcolz {
    width: 40%;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.signinz .logotxtz {
    width: 65%;
    margin: 0 auto;
}
.signinz .bbgz {
    width: 65%;
    margin: 0 auto;
}
.signinz .bbgz img {
    width: 100%;
}
.signinz .logotxtz p {
    margin-top: 30px;
    margin-bottom: 90px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #7E8299;
    max-width: 333px;
    margin-left: auto;
    margin-right: auto;
}
.signinz .logotxtz img {
    width: 100px;
}
.signinz .seccolz {
    width: 60%;
    background-color: #F3F5F9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signinz h3 {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 30px;
    color: #181C32;
}
.signinz label {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #181C32;
    display: block;
    margin-bottom: 3px;
}
.flexz {
    display: flex;
}
.mrz-auto {
    margin-right: auto;
}
.signinz a {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #3699FF;
    text-decoration: unset;
}
.signinz .form-control {
    margin-bottom: 25px;
}
.signinz input {
    width: 440px;
    background: #FFFFFF;
    border-radius: 9px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181C32;
    padding: 20px 24px;
    border: 0px;
}
.signinz input:focus-visible {
    border: 0;
    outline-offset: unset;
    outline: unset;
}
.signinz .btnz {
    border: 0px;
    background: #3699FF;
    border-radius: 6px;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.signinz .inputiconz {
    position: relative;
}
.signinz .passwordoffz,
.signinz .passwordonz {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    height: 18px;
}
.signinz .passwordoffz {
    display: none;
}
@media (max-width: 1280px) {
    .signinz .logotxtz p {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .signinz .bbgz img {
        width: 90%;
    }
}

@media (max-width: 999px) {
    .signinz input {
        width: 365px;
        font-size: 14px;
        line-height: 20px;
        padding: 15px 20px;
    }
    .signinz .logotxtz p {
        font-size: 16px;
        line-height: 22px;
    }
    .signinz .logotxtz,
    .signinz .bbgz {
        width: 85%;
    }    
    .signinz .logotxtz img {
        width: 80px;
    }
    .signinz .passwordoffz,
    .signinz .passwordonz {
        right: 20px;
    }
    .signinz .passwordoffz svg, 
    .signinz .passwordonz svg {
        width: 20px;
    }
    .signinz h3 {
        font-size: 28px;
    }
}

@media (max-width: 767px) { 
    .signinz {
        flex-wrap: wrap;
    }
    .signinz .firstcolz,
    .signinz .seccolz {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .signinz .bbgz, .signinz .logotxtz img {
        width: 20%;
    }
    .signinz .bbgz img {
        width: 100%;
    }
    .signinz .logotxtz p {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .signinz .firstcolz {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 460px) { 
    .signinz form {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
    .signinz form input {
        width: 100%;
    }
    .signinz label,
    .signinz .btnz {
        font-size: 14px;
    }
    .signinz a {
        font-size: 13px;
    }
    .signinz h3 {
        margin-bottom: 25px;
        font-size: 26px;
    }
    .signinz .bbgz, .signinz .logotxtz img {
        width: 25%;
    }
}