<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Animation Background </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h2>Animation Background Using HTML And CSS</h2>
    
    <div class="box">
        <div style="--x:10%;--y:20%;--s:30px;--c:#049B24;--r: 50%;--t:10s"></div>
        <div style="--x:5%;--y:30%;--s:10px;--c:#F82C2C;--r: 0%;--t:15s"></div>
        <div style="--x:15%;--y:70%;--s:35px;--c:#F82C2C;--r: 50%;--t:15s"></div>
        <div style="--x:70%;--y:65%;--s:15px;--c:#049B24;--r: 50%;--t:10s"></div>
        <div style="--x:40%;--y:20%;--s:15px;--c:#049B24;--r: 0%;--t:10s"></div>
        <div style="--x:85%;--y:90%;--s:20px;--c:#049B24;--r: 0%;--t:10s"></div>
        <div style="--x:50%;--y:90%;--s:30px;--c:#F82C2C;--r: 50%;--t:10s"></div>
        <div style="--x:90%;--y:92%;--s:30px;--c:#F82C2C;--r: 50%;--t:15s"></div>
        <div style="--x:90%;--y:20%;--s:20px;--c:#049B24;--r: 50%;--t:10s"></div>
        <div style="--x:75%;--y:20%;--s:10px;--c:#F82C2C;--r: 0%;--t:15s"></div>
        <div style="--x:10%;--y:90%;--s:15px;--c:#F82C2C;--r: 0%;--t:10s"></div>
        <div style="--x:35%;--y:65%;--s:20px;--c:#F82C2C;--r: 50%;--t:15s"></div>
        <div style="--x:60%;--y:50%;--s:10px;--c:#049B24;--r: 0%;--t:10s"></div>
    </div>

</body>
</html>