<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrap Text Around Circle</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <section>
        <div class="circle circle1">
            <img src="img/bg1.jpg">
        </div>
        <div class="circle circle2">
            <img src="img/bg2.jpg">
        </div>
        <div>
            <h2>Wrap Text Around Circle</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque eos asperiores deleniti facilis, omnis laudantium architecto odio blanditiis velit repudiandae aliquid, inventore esse quae. Quae et eveniet culpa illo reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aut quam quas, magni itaque aperiam ducimus tempora inventore reiciendis, exercitationem repellendus minus deserunt eligendi dolore minima? Eveniet laboriosam mollitia officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas consequuntur quae vitae, quia, delectus esse adipisci consequatur neque, quo iure! Eveniet tempora magni eius iusto illo soluta odit ad?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus provident iure sit facilis molestias tempora, iusto libero, facere quod voluptatem, officia adipisci corporis architecto. Eligendi ea nam facere delectus sint.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi tempore doloribus a. Beatae, eligendi? Nostrum placeat illum ab inventore error quo neque deleniti culpa vitae iure iste, tempora animi beatae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt necessitatibus officiis sed a autem. Aut fuga nesciunt reprehenderit, voluptate saepe in! Corporis atque voluptates cum nesciunt totam unde doloribus ab.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est alias architecto voluptas magni veritatis error dolore corporis repellendus? Aliquam officia praesentium debitis recusandae, aut corrupti aspernatur natus optio saepe? Eos!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus placeat inventore totam sequi illum? Facilis, explicabo? Sapiente, numquam mollitia? Quibusdam quasi totam maiores in quaerat, laborum repellendus modi aliquid molestiae?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos libero, error laboriosam iusto maiores est? Est quisquam quibusdam quasi minima fugit explicabo ullam laborum. Distinctio harum eius deserunt nisi.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ratione, molestiae nulla magnam consectetur qui, assumenda, omnis saepe distinctio nostrum illum at fugiat deleniti officiis suscipit quasi id sapiente? Ratione.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni deleniti voluptatem optio! Enim facilis mollitia, perspiciatis tempore corrupti iste laborum dolorum molestias temporibus iusto voluptas fugiat in cumque atque maiores?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magni explicabo voluptatum et? Voluptatem, laudantium facilis sint quod itaque nesciunt hic placeat nostrum amet. Fugit officia modi reprehenderit est excepturi?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ratione, molestiae nulla magnam consectetur qui, assumenda, omnis saepe distinctio nostrum illum at fugiat deleniti officiis suscipit quasi id sapiente? Ratione.
            </p>
        </div>
    </section>
</body>
</html>