<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glowing Button</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h2>CSS Glowing Button Hover Effects</h2>
    
    <div class="btnContainer">
        <a href="#" class="btn" style="--clr: #049B24"><span>Button</span><i></i></a>
        <a href="#" class="btn" style="--clr: #F82C2C"><span>Button</span><i></i></a>
    </div>

</body>
</html>