<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main>
        <div class="contentz">
            <h1>Password Generator</h1>
            <div class="sectionz">
                <div class="input-group resultz">
                    <input type="text" class="res-text"/>
                    <span class="copyz" onclick="copyzFun()">copy</span>
                </div>
                <div class="input-box">
                    <input type="range" min="5" max="25" id="range" value="15" onchange="rangeChange(event)"/>
                    <div class="range-res">15</div>
                </div>
                <div class="input-box">
                    <input type="checkbox" id="numberz" />
                    <label for="number"> Number </label>
                </div>
                <div class="input-box">
                    <input type="checkbox" id="special-char" />
                    <label for="special-char">Special Character</label>
                </div>
                <button class="generate" onclick="generatePW()">Generate</button>
            </div>
        </div>
    </main>
        

    <script src="./script.js"></script>
</body>
</html>