<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wavy Background</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <section class="wave">
        <div class="content">
            <h1>Wavy Background!</h1>

            <p>This wavy depend on image size and adjust height for responsive.</p>
        </div>
    </section>
    <section> </section>
</body>
</html>