@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    min-height: 720px;
}
.wave {
    position: relative;
    background: linear-gradient(90deg, #f0027f, #75489f);
}
.wave::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 244px;
    background: url(img/wave.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

@media (min-width: 1920px) {
    .wave::before {
        height: 320px;
        background-size: cover;
    }
}

@media (max-width: 1920px) {
    .wave::before {
        height: 306px;
    }
}
@media (max-width: 1720px) {
    .wave::before {
        height: 276px;
    }
}
@media (max-width: 1560px) {
    .wave::before {
        height: 244px;
    }
}
@media (max-width: 1280px) {
    .wave::before {
        bottom: -10px;
        height: 212px;
    }
}

