<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Google Map</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <!-- map insert step => 
    1. go to goole
    2. search google map
    3. you want location click or find search bar 
    4. and then go to hamburger menu
    5. click "share and embed map"
    6. click "Embed a map" tab copy html-->
    <div class="mapBox">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59369.23399428936!2d96.16419225432021!3d16.811207318237383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb5e3fffe455%3A0xb7d3ad319654cf6e!2sShwedagon%20Pagoda!5e0!3m2!1sen!2smm!4v1655896996420!5m2!1sen!2smm" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</body>
</html>