<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swiper Slider Testing</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h2 class="title center">Swiper Slider</h2>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>


  <div class="moreInfo">
    <div class="mb-sm">
      <label>Swiper Slider Demos </label>
      <a href="https://swiperjs.com/demos">https://swiperjs.com/demos</a>
    </div>
    <div class="mb-sm">
      <label>Swiper Slider Setup </label>
      <a href="https://swiperjs.com/get-started#use-swiper-from-cdn">https://swiperjs.com/get-started#use-swiper-from-cdn</a>
    </div>
    <div>
      <label>Swiper Slider Api </label> <a href="https://swiperjs.com/swiper-api">https://swiperjs.com/swiper-api</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="script.js"></script>
</body>

</html>