@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #01071C;
}
.container {
    position: relative;
    padding: 70px 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.container h2 {
    color: #03081B;
    margin-bottom: 45px;
    line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid #CF000E;
}
.container .inputBox,
.container .inputBox button {
    position: relative;
    width: 300px;
    height: 46px;
    margin-bottom: 35px;
}
.container .inputBox:last-child {
    margin-bottom: 0;
}
.container .inputBox input {
    width: 100%;
    border: 1px solid #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    color: #111;
    font-weight: 300;
}
.container .inputBox input::placeholder {
    color: #CF000E;
}

.container .inputBox button {
    background: #03081B;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    border-radius: 4px;
}
.container .inputBox button label {
    text-transform: uppercase;
    background: linear-gradient(92.77deg, #FFFFFF 0.15%, #FF9CA3 44.48%, #FFFFFF 98.24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: all 0.3s;
}
.container .inputBox button:hover label {
    background: unset;
    -webkit-text-fill-color: unset;
    text-fill-color: unset;
    color: #fff;
    transition: all 0.3s;
}