<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neumorphism Button</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h2>Neumorphism Button Using HTML And CSS</h2>
    
    <div class="btnContainer">
        <button type="button" class="btn btn-accept">
            <i class='bx bxs-phone'></i>
            Accept
        </button>
        <button type="button" class="btn btn-reject">
            <i class='bx bxs-phone'></i>
            Reject
        </button>
    </div>

    <script src="./script.js"></script>
</body>
</html>