<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Animated Sliding Indicator</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <nav class="navbar">
        <div id="marker"></div>
        <a href="#">Home1</a>
        <a href="#">Home2</a>
        <a href="#">Home3</a>
        <a href="#">Home4</a>
        <a href="#">Home5</a>
    </nav>
    <script src="script.js"></script>
</body>
</html>