<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Light</title>
</head>
<link rel="stylesheet" href="style.css">
<body >

  <header>
    <a href="#" class="logo">Logo</a>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>

  <section>
    <img src="./img/stars.png" id="stars" />
    <img src="./img/moon.png" id="moon" />    
    <img src="./img/mountains_behind.png" id="mountains_behind" />
    <h2 id="text">Moon Light</h2>
    <a href="#" id="btn">Explore</a>
    <img src="./img/mountains_front.png" id="mountains_front" />
  </section>

  <div class="sec">
    <h2>Parallax Scrolling Effects</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptas incidunt! Pariatur a illum odio provident excepturi quasi quia sunt commodi, vel molestias incidunt quibusdam illo nostrum accusamus quis voluptas!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut dolor officiis voluptatum, dolores minima, autem exercitationem sapiente magnam voluptas culpa temporibus nam vitae ad assumenda veritatis deleniti molestias sunt.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa iure laboriosam nemo. Ipsam, ullam? Eos ratione quibusdam ad explicabo, dolorum sequi fugit asperiores saepe, autem voluptates reiciendis, itaque neque.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque aut necessitatibus dolore laborum cum odit officia maiores tempore blanditiis impedit nam, fuga distinctio. Aspernatur, eligendi. Natus esse officiis tempore vitae?
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quo quod illo modi! Doloribus, sequi cupiditate repellendus non dignissimos consequatur, aliquam suscipit voluptatem nesciunt, perferendis aliquid ad a labore quaerat?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta molestiae natus sequi id commodi illum doloribus temporibus tempora odio corrupti quisquam necessitatibus, ipsum debitis tempore! Molestiae asperiores dolorum labore.
      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, voluptas incidunt! Pariatur a illum odio provident excepturi quasi quia sunt commodi, vel molestias incidunt quibusdam illo nostrum accusamus quis voluptas!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut dolor officiis voluptatum, dolores minima, autem exercitationem sapiente magnam voluptas culpa temporibus nam vitae ad assumenda veritatis deleniti molestias sunt.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa iure laboriosam nemo. Ipsam, ullam? Eos ratione quibusdam ad explicabo, dolorum sequi fugit asperiores saepe, autem voluptates reiciendis, itaque neque.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque aut necessitatibus dolore laborum cum odit officia maiores tempore blanditiis impedit nam, fuga distinctio. Aspernatur, eligendi. Natus esse officiis tempore vitae?
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quo quod illo modi! Doloribus, sequi cupiditate repellendus non dignissimos consequatur, aliquam suscipit voluptatem nesciunt, perferendis aliquid ad a labore quaerat?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta molestiae natus sequi id commodi illum doloribus temporibus tempora odio corrupti quisquam necessitatibus, ipsum debitis tempore! Molestiae asperiores dolorum labore.
    </p>
  </div>

  <script src="../../libraries/jQuery/jquery.min.js"></script>
  <script src="./script.js"></script>
    
</body>
</html>