<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll Based Animations</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
<!-- 
  <header>
    <a href="#" class="logo">Logo</a>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header> -->
  

  <div class="scroll-watcher"></div>

  <div class="banner">
    <img src="./img/lotus-01.jpg" alt="lotus img"/>
    <div class="bannerContent">
      <h1>Scroll Based Animations</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia quasi blanditiis accusamus autem odio quae explicabo vero iusto! Accusantium dolore ad laboriosam sunt omnis repudiandae vel perspiciatis corporis nam!
      </p>
    </div>
  </div>

  <main>
    <div class="flowerContainer bg-daisy">
      <div class="container">
        <div class="textContainer">
          <h2>Daisy Flower</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo a dignissimos at blanditiis vel. Eos consectetur itaque, reprehenderit in aliquam illum dolorum eum quos. Explicabo iure sint vero saepe!
          </p>
        </div>
        <div class="imgContainer">
          <img src="./img/dids-01.jpg" alt="daisy flower" />
        </div>
      </div>
    </div>
    <div class="flowerContainer bg-sunflower">
      <div class="container">
        <div class="textContainer">
          <h2>Sun Flower</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo a dignissimos at blanditiis vel. Eos consectetur itaque, reprehenderit in aliquam illum dolorum eum quos. Explicabo iure sint vero saepe!
          </p>
        </div>
        <div class="imgContainer">
          <img src="./img/sunflower-01.jpg" alt="sun flower" />
        </div>
      </div>      
    </div>
    <div class="moreInfo">
      <div class="container">
        <ul>
          <li>
            <label>HTML</label>
          </li>
          <li>
            <label>CSS</label>
          </li>
          <li>
            <label>UI/UX</label>
          </li>
          <li>
            <label>JS</label>
          </li>
          <li>
            <label>SASS</label>
          </li>
          <li>
            <label>WEBDEV</label>
          </li>
          <li>
            <label>ANIMATION</label>
          </li>
          <li>
            <label>REACT JS</label>
          </li>
          <li>
            <label>NEXT JS</label>
          </li>
          <li>
            <label>TAILWIND</label>
          </li>
          <!-- <li>
            <label>NODEJS</label>
          </li>
          <li>
            <label>BOOSTRAP</label>
          </li>
          <li>
            <label>UI KIT</label>
          </li>
          <li>
            <label>ANGULAR JS</label>
          </li> -->
        </ul>

        <ul>
          <li>
            <label>HTML</label>
          </li>
          <li>
            <label>CSS</label>
          </li>
          <li>
            <label>UI/UX</label>
          </li>
          <li>
            <label>JS</label>
          </li>
          <li>
            <label>SASS</label>
          </li>
          <li>
            <label>WEBDEV</label>
          </li>
          <li>
            <label>ANIMATION</label>
          </li>
          <li>
            <label>REACT JS</label>
          </li>
          <li>
            <label>NEXT JS</label>
          </li>
          <li>
            <label>TAILWIND</label>
          </li>

        </ul>
      </div>
    </div>
    <div class="flowerContainer bg-colorFull">
      <div class="container">
        <div class="textContainer">
          <h2>ColorFull Flower</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo a dignissimos at blanditiis vel. Eos consectetur itaque, reprehenderit in aliquam illum dolorum eum quos. Explicabo iure sint vero saepe!
          </p>
        </div>
        <div class="imgContainer">
          <img src="./img/colorfull-01.jpg" alt="color full flower" />
        </div>
      </div>
    </div>
    <div class="flowerContainer bg-dandelion">
      <div class="container">
        <div class="textContainer">
          <h2>Dandelion Flower</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo a dignissimos at blanditiis vel. Eos consectetur itaque, reprehenderit in aliquam illum dolorum eum quos. Explicabo iure sint vero saepe!
          </p>
        </div>
        <div class="imgContainer">
          <img src="./img/dandelion-02.jpeg" alt="dandelion flower" />
        </div>
      </div>
    </div>
    <div class="flowerContainer bg-tulip">
      <div class="container">
        <div class="textContainer">
          <h2>Tulip Flower</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum illo a dignissimos at blanditiis vel. Eos consectetur itaque, reprehenderit in aliquam illum dolorum eum quos. Explicabo iure sint vero saepe!
          </p>
        </div>
        <div class="imgContainer">
          <img src="./img/tutip-01.jpg" alt="tulip flower" />
        </div>
      </div>
    </div>    
  </main>

  <footer>
    <div class="container">
      🌸 <b><small>Power by Hnin Tnu Zar (Zara)</small></b> 🌸
    </div>
  </footer>


  <script src="../../libraries/jQuery/jquery.min.js"></script>
  <script src="./script.js"></script>
    
</body>
</html>