<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Foldable Card Hover Effect</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div class="card">
        <div class="imgBox">
            <img src="./images/cute.png" alt="cute"/>
            <img src="./images/cute2.jpg" alt="cute"/>
        </div>
        <div class="details">
            <div class="content">
                <h2>Hnin Thu Zar <br><span>Senior Web Developer</span></h2>
                <div class="social-icons">
                    <a href="https://www.facebook.com/hnin.thu.zar.725/" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://twitter.com/HNNHNN25797" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="mailto:hninthuzar.itworld@gmail.com" target="_blank">
                        <i class="bi bi-google"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/hnin-thu-zar-zara/" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/hninthuzar._zara/" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="./script.js"></script>
</body>
</html>