<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Logo</title>
</head>
<link rel="stylesheet" href="style.css">
<body >

  <div class="drawing" id="spinner-area">
    <div class="loading-dot"></div>
    <div class="spinner-content">    
      <div class="spinner-txt"><img src="./img/logo-black.svg" /></div>
    </div>
  </div>

  <div class="contentz">
    <h1>Hello World</h1>
  </div>

  <script src="../../libraries/jQuery/jquery.min.js"></script>
  <script src="./script.js"></script>
    
</body>
</html>