<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticky Navbar on Scroll</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <header>
        <a href="#" class="logo">hnin</a>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li class=""><a href="#">About</a></li>
            <li class=""><a href="#">Services</a></li>
            <li class=""><a href="#">Portfolio</a></li>
            <li class=""><a href="#">Contact</a></li>
        </ul>
    </header>
    <section class="banner"></section>
    <script src="script.js"></script>
</body>
</html>