<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slick Slider Testing</title>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h2 class="title center">Slick Slider</h2>

  <div class="single-item-container">
    <div class="item"><h3>Slide 1</h3></div>
    <div class="item"><h3>Slide 2</h3></div>
    <div class="item"><h3>Slide 3</h3></div>
    <div class="item"><h3>Slide 4</h3></div>
    <div class="item"><h3>Slide 5</h3></div>
    <div class="item"><h3>Slide 6</h3></div>
  </div>


  <div class="moreInfo">
    <div class="mb-sm">
      <label>Slick Slider Demos </label>
      <a href="http://kenwheeler.github.io/slick/">http://kenwheeler.github.io/slick/</a>
    </div>
    <div class="mb-sm">
      <label>Slick Slider Source </label>
      <a href="https://github.com/kenwheeler/slick">https://github.com/kenwheeler/slick</a>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="script.js"></script>
</body>

</html>