<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Page Slider</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <div class="container">
        <h2>Our Newsletter</h2>
        <form>
            <div class="inputBox">
                <input type="text" placeholder="Full Name" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputBox">
                <input type="email" placeholder="Email Address" required="required">
                <span>Email Address</span>
            </div>
            <div class="selectBox">
                <select required="required">
                    <option value="">Select Country ...</option>
                    <option>Myanmar</option>
                    <option>Singapore</option>
                </select>
                <span>Select Country</span>
            </div>
            <div class="inputBox">
                <input type="submit" value="Subscribe">
            </div>
        </form>
    </div>

</body>
</html>