<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorial</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h2>Calculator!</h2>
    <div class="mainz">
        <div class="displayz"></div>
        <div class="btnsectionz">
            <div class="buttonz">1</div>
            <div class="buttonz">2</div>
            <div class="buttonz">AC</div>
            <div class="buttonz"><-</div>
            <div class="buttonz">3</div>
            <div class="buttonz">4</div>
            <div class="buttonz">5</div>
            <div class="buttonz">+</div>
            <div class="buttonz">6</div>
            <div class="buttonz">7</div>
            <div class="buttonz">8</div>
            <div class="buttonz">-</div>
            <div class="buttonz">9</div>
            <div class="buttonz">0</div>
            <div class="buttonz">.</div>
            <div class="buttonz">*</div>
            <div class="buttonz">(</div>
            <div class="buttonz">)</div>
            <div class="buttonz">=</div>
            <div class="buttonz">/</div>
        </div>
    </div>
        

    <script src="./script.js"></script>
</body>
</html>