<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flickity Slider Testing</title>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h2 class="title center">Flickity Slider - wrapAround</h2>

  <!-- Flickity HTML init -->
  <div class="carousel"
    data-flickity='{ "wrapAround": true }'>
    <div class="carousel-cell">
      <h2>Flickity 1</h2>
    </div>
    <div class="carousel-cell">
      <h2>Flickity 2</h2>
    </div>
    <div class="carousel-cell">
      <h2>Flickity 3</h2>
    </div>
    <div class="carousel-cell">
      <h2>Flickity 4</h2>
    </div>
    <div class="carousel-cell">
      <h2>Flickity 5</h2>
    </div>
  </div>

  <div class="moreInfo">
    <div class="mb-sm">
      <label>Flickity Demo </label>
      <a href="https://flickity.metafizzy.co/">https://flickity.metafizzy.co/</a>
    </div>
  </div>

  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="script.js"></script>
</body>

</html>