<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrap Text Around Circle</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <section class="circle-sec">
        <div class="circle-image">
            <svg xmlns="http://www.w3.org/2000/svg" width="138" height="139" viewBox="0 0 138 139" fill="none">
                <circle cx="69" cy="69.9004" r="68.5" fill="white" stroke="#E60013"/>
                <path d="M99.5 69.0344C100.167 69.4193 100.167 70.3815 99.5 70.7664L54.5 96.7472C53.8333 97.1321 53 96.651 53 95.8812L53 43.9196C53 43.1498 53.8333 42.6687 54.5 43.0536L99.5 69.0344Z" fill="#E60013"/>
            </svg>
        </div>
        <div class="circle-text">
            <span style="--i:1;">A</span>
            <span style="--i:2;">T</span>
            <span style="--i:3;">L</span>
            <span style="--i:4;">C</span>
            <span style="--i:5;">W</span>
            <span style="--i:6;">O</span>
            <span style="--i:7;">R</span>
            <span style="--i:8;">K</span>
            <span style="--i:9;">S</span>
            <span style="--i:10;">H</span>
            <span style="--i:11;">O</span>
            <span style="--i:12;">P</span>
            <!-- <img src="img/bg1.jpg"> -->
        </div>
        <!-- <div class="circle circle2">
            <img src="img/bg2.jpg">
        </div> -->
        <div>
            
        </div>
    </section>
</body>
</html>