<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Paganition</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <div class="pagable" style="min-height:160px;">
        <div class="pagable-results"></div>
        <div class="pagable-status">
          <label>Page <span class="page-no-curr">1</span> of <span class="page-no-count">1</span></label>
          <div class="pagable-actions">
            <button class="page-btn-first">&#x226A;</button>
            <button class="page-btn-prev">&#60;</button>
            <input type="number" name="page-curr" min="1" value="1" />
            <button class="page-btn-next">&#62;</button>
            <button class="page-btn-last">&#x226B;</button>
            <select name="page-size">
              <option>5</option>
              <option>10</option>
              <option>20</option>
            </select>
          </div>
          <label>(<span class="result-count"></span> items)</label>
        </div>
      </div>

    <script src="./script.js"></script>
    
</body>
</html>