<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorial</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>


    <div>
        <div class="boxz">
            <h2> Factorial Knowledge!</h2>
            <ul>
                <li>Factorial of 1 = 1 </li>
                <li>Factorial of 2 = 2 * 1 = 2</li>
                <li>Factorial of 3 = 3 * 2 * 1 = 6 </li>
                <li>Factorial of 4 = 4 * 3 * 2 * 1 = 24 </li>
                <li>Factorial of 5 = 5 * 4 * 3 * 2 * 1 = 120 </li>
            </ul>
        </div>

        <div class="showz">Number of Factorial Result.</div>
    </div>
        

    <script src="./script.js"></script>
</body>
</html>