<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Active Sibling</title>
</head>
<link rel="stylesheet" href="style.css">
<body >
    <header>
        <h1>Hnin</h1>
        <nav>
            <ul class="navbar">
                <li class="navitem active"><a href="#">Home</a></li>
                <li class="navitem"><a href="#">Home 1</a></li>
                <li class="navitem"><a href="#">Home 2</a></li>
                <li class="navitem"><a href="#">Home 3</a></li>
                <li class="navitem"><a href="#">Home 4</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>